<template>
  <div class="card">
    <div v-for="(course, index) in courses" :key="index" class="card col-md-12 mb-2">
        <div class="card-body">
            <h4 class="card-title">{{course.name}}</h4>
            Price: <small class="text-success">{{course.price}}</small>
            <p class="card-text">{{course.start_date}}</p>
            <p class="card-text">{{course.description}}</p>
            <nuxt-link :to="`/courses/course/${course.id}`" class="btn btn-primary">
                See Course
            </nuxt-link>
        </div>
    </div>
  </div>
</template>

<script>
export default {
    name: "Courses",
    async serverPrefetch() {
        this.$store.dispatch('PER_PAGE', 1);
    },
    computed: {
        courses() {
            return this.$store.getters['COURSES_PER_PAGE'];
        }
    }
}
</script>

<style>

</style>