<template>
  <div class="p-md-3 row">
      <ValidationObserver v-slot="{ handleSubmit }" class="col-md-12">
        <form @submit.prevent="handleSubmit(addCourse)" class="col-md-12">
            <div class="form-group col-md-12">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input type="text" class="col-md-12" v-model="name">
                    <span class="text-danger">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>

            <div class="form-group col-md-12">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <textarea class="col-md-12" v-model="description"></textarea>
                    <span class="text-danger">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>

            <div class="form-group col-md-12">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input type="number" class="col-md-12" v-model="price">
                    <span class="text-danger">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>


            <div class="form-group col-md-12">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <b-calendar v-model="start_date" locale="en-US"></b-calendar>
                    <span class="text-danger">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>
            <div class="form-group col-md-12">
                <button class="w-100 btn btn-success">Add</button>
            </div>
        </form>
      </ValidationObserver>
  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
    name: "CreateCourse",
    components: {
        ValidationProvider,
        ValidationObserver
    },
    data: () => ({
        name: null,
        description: null,
        start_date: null,
        price: null,
    }),
    methods: {
        addCourse() {
            this.$store.dispatch('ADD_COURSE', {
                    name: this.name,
                    description: this.description,
                    start_date: this.start_date,
                    price: this.price
                });
            this.$root.$emit("sorted");
            this.$router.push({path: '/'});
        }
    }
}
</script>

<style>

</style>