<template>
  <div class="p-md-3 row">
      <ValidationObserver v-slot="{ handleSubmit }" class="col-md-12">
        <form @submit.prevent="handleSubmit(updateCourse)" class="col-md-12">
            <div class="form-group col-md-12">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input type="text" class="col-md-12" v-model="name">
                    <span class="text-danger">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>

            <div class="form-group col-md-12">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <textarea class="col-md-12" v-model="description"></textarea>
                    <span class="text-danger">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>

            <div class="form-group col-md-12">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input type="number" class="col-md-12" v-model="price">
                    <span class="text-danger">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>


            <div class="form-group col-md-12">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <b-calendar v-model="start_date" locale="en-US"></b-calendar>
                    <span class="text-danger">{{ errors[0] }}</span>
                </ValidationProvider>
            </div>
            <div class="form-group col-md-12">
                <button class="w-100 btn btn-success">Update Course</button>
            </div>
        </form>
      </ValidationObserver>

    <b-button id="popover-reactive-1" variant="danger" ref="button">
        Delete
    </b-button>

    <b-popover
      target="popover-reactive-1"
      triggers="click"
      :show.sync="popoverShow"
      placement="auto"
      container="my-container"
      ref="popover"
    >
        <template #title>
            Are you suer ?
        </template>
        <div>
            <b-button @click="onClose" size="sm" variant="dark">Cancle</b-button>
            <b-button @click="removeCourse" size="sm" variant="primary">Yes</b-button>
        </div>
    </b-popover>

  </div>
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
export default {
    name: "EditCourse",
    components: {
        ValidationProvider,
        ValidationObserver
    },
    data: () => ({
        name: null,
        description: null,
        start_date: null,
        price: null,
        popoverShow: false
    }),
    async serverPrefetch() {
        this.$store.dispatch('SELECT_COURSE', this.$route.params.id);
    },

    computed: {
        course() {
            return this.$store.getters['SELECTED'];
        }
    },
    methods: {
        updateCourse() {
            this.$store.dispatch('UPDATE_COURSE', {
                id: this.$route.params.id,
                name: this.name,
                description: this.description,
                price: this.price,
                start_date: this.start_date,
            });
            this.$root.$emit("sorted");
            this.$router.push({path: '/'});
        },
        onClose() {
            this.popoverShow = false
        },
        removeCourse() {
            this.$store.dispatch('REMOVE_COURSE', this.$route.params.id);
            this.$router.push({path: '/'});
        }
    },
    mounted() {
        this.$store.dispatch('SELECT_COURSE', this.$route.params.id);
        this.name = this.course.name || null;
        this.description = this.course.description || null;
        this.price = this.course.price || null;
        this.start_date = this.course.start_date || null;
    }
}
</script>

<style>

</style>