<template>
  <nav>
      <ul class="pagination">
            <li :class="{disabled: isPrevDisabled}" class="page-item">
                <button :disabled="isPrevDisabled" @click="prevPage" class="page-link">
                    Previous
                </button>
            </li>
            <li class="page-item" v-for="index in Math.floor(totalPages)" :key="index">
                <button @click="page = index" class="page-link" >{{index}}</button>
            </li>
            <li :class="{disabled: isNextDisabled}" class="page-item">
                <button :disabled="isNextDisabled" class="page-link" @click="nextPage">
                    Next
                </button>
            </li>
      </ul>
  </nav>
</template>

<script>
export default {
    name: "Pagination",
    props: {
        totalPages: {
            type: Number,
            required: true
        },
        total: {
            type: Number,
            required: true
        }
    },
    data: () => ({
        page: 1
    }),
    watch: {
        page: function(newPage) {
            this.$store.dispatch('PER_PAGE', newPage);
        }
    },
    computed: {
        isPrevDisabled() {
            return this.page === 1;
        },
        isNextDisabled() {
            return this.page === Math.floor(this.totalPages);
        }
    },
    methods: {
        nextPage() {
            this.page++;
        },
        prevPage() {
            this.page--;
        }
    },
    mounted() {
        this.$root.$on("sorted", () => {
            this.$store.dispatch('PER_PAGE', this.page);    
        })
    }

}
</script>

<style scoped>

</style>