<template>
  <div class="container">
      <div class="w-100 pt-5">
        <h2>Update Course</h2>
        <edit-course />
      </div>
  </div>
</template>

<script>
import EditCourse from '../../../components/courses/EditCourse.vue'
export default {
  components: { EditCourse },
    name: "Edit",
}
</script>

<style>

</style>