<template>
  <div class="container">
    <div class="w-100 pt-5">
      <div>
        <nuxt-link :to="`/courses/create`" class="btn btn-primary mb-2">
          + Add Course
        </nuxt-link>
      </div>
      <div class="text-align-left">
        <label for="sort">Sort By</label>
        <select @change="sortBy" id="sort" v-model="sort_by">
          <option value="id"> </option>
          <option value="price"> Price </option>
          <option value="start_date"> Date </option>
        </select>
      </div>
      <courses />
      <pagination :total="total" :totalPages="Math.ceil(total/10)" />
    </div>
  </div>
</template>

<script>
import Courses from '../components/courses/Courses.vue'
import Pagination from '../components/Pagination.vue'
export default {
  components: { Courses, Pagination },
  data: () => ({
        sort_by: null,
    }),
  computed: {
    total() {
        return this.$store.getters['TOTAL'];
    }
  },
  methods: {
    sortBy() {
      this.$store.dispatch('SORT_COURSES', this.sort_by);
      this.$root.$emit("sorted");
    }
  },
  mounted() {
    this.$root.$emit("sorted");
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
