<template>
  <div class="container">
      <div class="w-100 pt-5">
        <h2>Create Course</h2>
        <create-course />
      </div>
  </div>
</template>

<script>
import CreateCourse from '../../components/courses/CreateCourse.vue'
export default {
  components: { CreateCourse },
    name: "Create"
}
</script>

<style>

</style>